@import './global.css';

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.content {
    height: 100%;
    display: flex;
    max-width: 800px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.left {
    padding-right: 30px;
    width: 40%;
    margin-bottom: -120px;
}

.phones {
    width: 100%;
}

.phones img {
    width: calc(100% + 600px);
    margin-left: -400px;
    margin-right: -200px;
    margin-bottom: -170px;
}

.phones .uno {
    display: none;
}

.phones .duo {
    display: block;
}

.right {
    padding-left: 30px;
    width: 60%;
}

.title {
    margin-bottom: 10px;
    margin-top: 10px;
}

.subtitle {
    margin-top: 10px;
    margin-bottom: 20px;
}

.right p {
    font-size: 16px;
}

.stores {
    display: flex;
}

.appstore {
    margin-left: 0;
    margin-right: 20px;
    cursor: pointer;
}

.playstore {
    /* SVG has already a 10px margin */
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    opacity: 0.5;
}

.footer p {
    font-size: 12px;
}

@media (max-width: 700px) {
    .title {
        font-size: 50px;
    }

    .subtitle {
        font-size: 20px;
    }

    .right p {
        font-size: 14px;
    }

    .left {
        padding-right: 10px;
        width: 40%;
    }

    .right {
        padding-left: 10px;
        width: 60%;
    }

    .phones img {
        width: calc(100% + 600px);
        margin-left: -350px;
        margin-right: -100px;
        margin-bottom: -170px;
    }

    .phones .uno {
        display: block;
    }

    .phones .duo {
        display: none;
    }
}
